PORT=3000

DB_HOST=mysql
DB_PORT=3306
DB_USER=task_user
DB_PASSWORD=task_pass
DB_NAME=task_tracker

REDIS_HOST=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_DAYS=7
